---
import { SITE_DISCLAIMER_CONFIG } from "./siteInfo";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const ogImg = new URL("./lavidamodernaes-og.png", Astro.site);
const ogImgAlt = "Imagen de la Home de la página de lavidamodernaes.com";
---

<title>{SITE_DISCLAIMER_CONFIG.title}</title>
<meta content={SITE_DISCLAIMER_CONFIG.title} name="title" />
<meta name="description" content={SITE_DISCLAIMER_CONFIG.description} />
<meta content={SITE_DISCLAIMER_CONFIG.author} name="author" />

<link rel="canonical" href={canonicalURL} />

<meta property="og:title" content={SITE_DISCLAIMER_CONFIG.title} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:description" content={SITE_DISCLAIMER_CONFIG.description} />
<meta content={SITE_DISCLAIMER_CONFIG.title} property="og:site_name" />
<meta content="es" property="og:locale" />
<meta property="og:image" content={ogImg} />
<meta property="og:image:alt" content={ogImgAlt} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="es" />

<meta property="og:type" content="website" />

{/* Twitter */}
<meta name="twitter:title" content={SITE_DISCLAIMER_CONFIG.title} />
<meta name="twitter:description" content={SITE_DISCLAIMER_CONFIG.description} />
<meta name="twitter:image" content={ogImg} />
<meta name="twitter:image:alt" content={ogImgAlt} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@akac12z" />
<meta name="twitter:creator" content="@akac12z" />
