---
import type { CollectionEntry } from "astro:content";
import { SITE_DEFAULT_CONFIG } from "./siteInfo";

const { entry } = Astro.props;
const tweets = entry as CollectionEntry<"tweets">;

const { data } = tweets;
const { season, quote } = data;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const ogImg = new URL("./lavidamodernaes-og.png", Astro.site);
const ogImgAlt = "Imagen de la Home de la página de lavidamodernaes.com";
---

<title>LVM - Temporada{season}</title>
<meta name="title" content={`LVM - T${season}`} />
<meta name="description" content={`La vida moderna es ${quote}`} />
<meta name="author" content={SITE_DEFAULT_CONFIG.author} />

<link rel="canonical" href={canonicalURL} />

<meta property="og:title" content={SITE_DEFAULT_CONFIG.title} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:description" content={SITE_DEFAULT_CONFIG.description} />
<meta content={SITE_DEFAULT_CONFIG.title} property="og:site_name" />
<meta content="es" property="og:locale" />
<meta property="og:image" content={ogImg} />
<meta property="og:image:alt" content={ogImgAlt} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:locale" content="es" />

<meta property="og:type" content="website" />

{/* Twitter */}
<meta name="twitter:title" content={SITE_DEFAULT_CONFIG.title} />
<meta name="twitter:description" content={SITE_DEFAULT_CONFIG.description} />
<meta name="twitter:image" content={ogImg} />
<meta name="twitter:image:alt" content={ogImgAlt} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@akac12z" />
<meta name="twitter:creator" content="@akac12z" />
