---
import { getCollection } from "astro:content";

import { SquareArrowOutUpRight } from "@lucide/astro";
import Instagram from "./icons/Instagram.astro";
import Twitter from "./icons/Twitter.astro";
import type { CollectionEntry } from "astro:content";

const getRandomRotation = () => {
  const rotations = [
    "-rotate-3",
    "-rotate-2",
    "-rotate-1",
    "rotate-1",
    "rotate-2",
    "rotate-3",
  ];
  const index = Math.floor(Math.random() * rotations.length);

  return rotations[index];
};
const rotation = getRandomRotation();

interface Props {
  entry: CollectionEntry<"tweets">;
}

export async function getStaticPaths() {
  const quotes = await getCollection("tweets");

  return quotes.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data } = entry;
const { author, episode, quote, season, source, tweet_url } = data;
---

<article
  class={`group bg-cutre-white border-4 border-cutre-black p-2 md:p-4 shadow-lg transition-transform duration-500 ${rotation} hover:rotate-0 text-pretty h-fit `}
>
  <section class="flex justify-between items-center mb-3 sm:mb-4">
    <p class="font-bold text-sm md:text-base">
      Por
      <span
        class="underline underline-offset-2 decoration-wavy group-hover:decoration-rosa-moderdonia tracking-wider"
        >{author}</span
      >
    </p>
    <a
      href={source}
      target="_blank"
      rel="noopener noreferrer"
      class="see-on-yt"
      title="Ver en YouTube"
    >
      Ver T{season}E{episode}{" "}
      <SquareArrowOutUpRight width={10} />
    </a>
  </section>
  <section class="my-4 sm:my-6">
    <h3 class="text-lg sm:text-xl font-bold text-cutre-black">
      #LaVidaModerna es
    </h3>
    <h3 class="text-base sm:text-lg font-bold text-rosa-moderdonia">
      {quote}
    </h3>
  </section>
  <section class="flex justify-between items-end">
    {/* Botones de compartir en la esquina inferior izquierda */}
    <section class="relative flex flex-col justify-center items-center">
      <span class="text-sm font-bold">Compártela</span>
      <section class="flex gap-2">
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="share-btn"
          title="Compartir en Twitter"
        >
          <Twitter classes="w-4" />
        </a>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="share-btn"
          title="Compartir en Instagram"
        >
          <Instagram classes="w-4" />
        </a>
      </section>
    </section>
    <a
      href={tweet_url}
      target="_blank"
      rel="noopener noreferrer"
      class="see-on-twitter"
      title="Ver en X/Twwitter"
    >
      Ver en Twitter
      <SquareArrowOutUpRight width={10} />
    </a>
  </section>
</article>
