---
import type { CollectionEntry } from "astro:content";

import { Focus, SquareArrowOutUpRight } from "@lucide/astro";

const getRandomRotation = () => {
  const rotations = [
    "-rotate-3",
    "-rotate-2",
    "-rotate-1",
    "rotate-1",
    "rotate-2",
    "rotate-3",
  ];
  const index = Math.floor(Math.random() * rotations.length);

  return rotations[index];
};
const rotation = getRandomRotation();

interface Props {
  entry: CollectionEntry<"tweets">;
}

const { entry } = Astro.props;
const { data } = entry;
const { author, episode, quote, season, source, tweet_url } = data;
---

<article
  class={`card-component group bg-cutre-white border-4 border-cutre-black p-2 md:p-4 shadow-lg transition-transform duration-500 ${rotation} hover:rotate-0 text-pretty h-fit `}
>
  <section class="flex justify-between items-center mb-3 sm:mb-4">
    <p class="font-bold text-sm md:text-base">
      Por
      <span
        class="underline underline-offset-4 decoration-wavy group-hover:decoration-rosa-moderdonia tracking-wider"
        >{author}</span
      >
    </p>
    <a
      href={source}
      target="_blank"
      rel="noopener noreferrer"
      class="see-on-yt"
      title="Ver en YouTube"
    >
      Ver T{season}E{episode}{" "}
      <SquareArrowOutUpRight width={10} />
    </a>
  </section>
  <section class="my-4 sm:my-6">
    <h3 class="text-lg sm:text-xl font-bold text-cutre-black">
      #LaVidaModerna es
    </h3>
    <h3 class="text-base sm:text-lg font-bold text-rosa-moderdonia">
      {quote}
    </h3>
  </section>
  <section class="flex justify-between items-end">
    <div class="w-fit h-auto">
      <button
        class="cursor-pointer focus-card-btn px-2 py-1 text-cutre-black font-bold flex items-center gap-x-2 shadow drop-shadow-rosa-moderdonia shadow-rosa-moderdonia text-sm"
        type="button"
        onclick="focusThisCard(this)"
        title="Enfocar tarjeta"
      >
        Haz pantallazo <Focus size={20} class="text-cutre-black" />
      </button>
      <span
        class="la-promosio hidden text-xs text-rosa-moderdonia font-bold tracking-widest align-text-bottom"
        >lavidamodernaes.com</span
      >
    </div>

    <a
      href={tweet_url}
      target="_blank"
      rel="noopener noreferrer"
      class="see-on-twitter"
      title="Ver en X/Twwitter"
    >
      Ver en Twitter
      <SquareArrowOutUpRight width={10} />
    </a>
  </section>
</article>
<div
  id="focus-overlay"
  class="hidden fixed inset-0 z-10 bg-black/50 backdrop-blur-sm"
>
</div>
<script is:inline>
  function focusThisCard(btn) {
    if (!btn) return;
    const card = btn.closest(".card-component");
    if (!card) return;
    const overlay = document.getElementById("focus-overlay");
    if (!overlay) return;
    const shuffleBtn = document.querySelector(".shuffle-btn");
    const laPromosio = card.querySelector(".la-promosio");

    overlay.classList.remove("hidden");
    card.classList.add("focused-card");
    document.body.style.overflow = "hidden";
    btn.classList.add("hidden");
    shuffleBtn.classList.add("hidden");
    laPromosio.classList.remove("hidden");

    overlay.onclick = function () {
      card.classList.remove("focused-card");
      overlay.classList.add("hidden");
      document.body.style.overflow = "";
      btn.classList.remove("hidden");
      shuffleBtn.classList.remove("hidden");
      laPromosio.classList.add("hidden");
    };
  }
</script>
